html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
span {
  opacity: 0.9;
  font-style: italic;
  font-weight: lighter;
}
/* END RESET*/
html {
  font-size: 1rem;
  background-color: #fff5e6;
  font-family: Avenir, Helvetica, georgia, serif;
  color:#555555;
  word-wrap: break-word;
  margin:0;
  padding: 1rem;
  height: auto;
}

body, footer {
  width: 90%;
  margin: 3vh auto;
  padding: 0px;
}
footer {
  font-size: 80%;
  background: rgba(0,179,30,0.1);
  border-radius: 10px;
  padding: 1rem;
}

h1, h2 {
  margin: 0;
  text-transform: uppercase;
  line-height: 1.1em;
  text-align: left;
  padding: 0.5rem;
  min-width: 200px;
}
h1{
  font-size: 1.5rem;
}
h2{
  font-size: 1.3rem
}
 ul {
  padding: 1rem;
  margin: 0;
  list-style-type: none;
  text-align: left;
  min-width: 200px;
}
 li {
  line-height: 1.2;
}
img {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 50px;
  margin: auto;
}
.email , .phone {
  padding: 0.5rem;
  text-align: right;
  font-size: 0.8rem;
}
#i2, #i3, #i4, #i5, #i6 {
  display: none;
}

/* Now the Grid-based Layout -- Two nested grids */
@supports (display:grid) {
    .support-note {
      display: none;
    }
    /* Reset -- Undo Non-Grid layouts -- */
    html {
      margin: none;
      padding: 0px;
      height: auto;
    }
    div {
      padding: 0px;
    }
    h1, h2 {
      margin: none;
      line-height: 1.1rem;
      padding: 0px;
    }
   ul {
      padding: 0px;
      margin: none;
    }
    img {
      padding: 0px;
      border-radius: 500px;
      margin: none;
    }
    .email , .phone {
      padding: 0px;
    }



    /* For mobile phones, vertical: */
    body {
      display: grid;
      height: 90vh;
      grid-gap: 0;
      font-size: 1vw;
      padding: 0px;
    }
    .main-title {
      grid-row: 2/3;
      font-size: 1.5rem;
      padding: none;
    }
    .sub-title{
      padding: 0px;
      grid-row: 1/2;
      font-size: 0.8rem;
    }
    .contact-info {
      font-size: 0.8rem;
      padding: 0px;
      margin: none;
      display: grid;
      grid-template-rows: 1fr 1fr;
    }
    .email {
      grid-row: 1/2;
    }
    .phone {
      grid-row: 2/3;
    }
    li {
      font-size: 0.8rem;
      padding: 0.25rem;
    }
    .im2, .im3, .im4, .im4, .im5, .ims6 {
      display: none;
    }
    .im1 {
      grid-column: auto;
    }
    @media (max-height: 500px )
    and (orientation: landscape){

      .main-title {
        grid-row: 1/2;
        grid-column: 1/2;
      }
      .sub-title{
        grid-row: 2/3;
        grid-column: 1/2;
      }
      .contact-info {
        grid-column: 2/3;
        grid-row: 2/4;
        display: grid;
        grid-template-rows: 1fr 1fr;
      }
      .email {
        grid-row: 1/2;
      }
      .phone {
        grid-row: 2/3;
      }
      .description {
        grid-row: 4/5;
        grid-column: 1/2;
      }
      li {
        font-size: 0.8rem;
        padding: 0.25rem;
      }
      .im1 {
        grid-column: 2/3;
        grid-row: 4/6;
        padding: 1rem;
      }
    }
    /* Tablets and Similar */
    @media (min-width: 600px) and (orientation: portrait){
      body {
        grid-template-rows: repeat(auto-fill, minmax(50px,1fr));
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
        grid-gap: 1rem;
      }
      .main-title {
        grid-row: 1 / 2;
        grid-column: 1/ -1;
        font-size: 3rem;
        padding: 1rem 0 0 0;
      }
      .sub-title {
        grid-row: 2 / 3;
        grid-column: 2 /-1;
        text-align: right;
        font-size: 1.5rem;
      }
      .contact-info{
        grid-row: 3/5;
        grid-column: 5/-1;
      }
      .email, .phone{
        font-size: 1.5rem;
      }
      .email {
        padding: 1rem 0 0 0;
      }


      .description {
        padding: 1rem 0 0 1rem;
        grid-row: 9/14;
        grid-column: 2/7;
        background: rgba(0,0,0,0.4);
        border-radius: 10px;
        color: #fff5e6;
        font-weight: bold;
      }

      .im1 {
        grid-row: 3/7;
        grid-column: 1/6;
      }
      .im2 {
        display: block;
        grid-row: 5/9;
        grid-column: 5/-3;
      }
      .im3 {
        display: block;
        grid-row: 7/10;
        grid-column: -4/-1;
      }
      .im4 {
        display: block;
        grid-row: 13/-1;
        grid-column: 1/-9;
      }
      .im5 {
        grid-row: 21/22;
        grid-column: 1/2;
      }
      .ims6 {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 0px;
        grid-row: 12/-1;
        grid-column: 6/-1;
      }
      #i6_1 , #i6_2, #i6_3 {
        display: block;
        width: 100%
      }
      #i6_1 {
        display: block;
        grid-column: 6/9;
        grid-row: 1/4;
      }
      #i6_2 {
        display: block;
        grid-column:1/4;
        grid-row: 6/9;
      }
      #i6_3 {
        display: block;
        grid-column: 4/9;
        grid-row: 5/10;
      }

      img {
        border-radius: 1000px;
      }
      ul {
        display: grid;
        grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }
      li {
        font-size: 1.5rem;
        text-align: center;
      }
      li:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/4;
      }
      li:nth-child(2) {
        grid-row: 2/3;
        grid-column: 2/5;
      }
      li:nth-child(3) {
        grid-row: 3/4;
        grid-column: 3/6;
      }
      #i2, #i3, #i4, #i5, #i6_1, #i6_2, #i6_3 {
        display: block;
      }
    }
      /* Landscape Computer Screen */
      @media (min-width: 900px) and (orientation: landscape){
        body {
          grid-template-rows: repeat(auto-fill, minmax(50px,1fr));
          grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
          grid-gap: 1rem;
        }
        .main-title {
          grid-row: 3 / 4;
          grid-column: 1/ -4;
          font-size: 1.5rem;
          padding: 1rem 0 0 0;
        }
        .sub-title {
          grid-row: 4/ 5;
          grid-column: 1 /-4;
          text-align: left;
          font-size: 1.2rem;

        }
        .contact-info {
          grid-row: 5/7;
          grid-column: 1/-8;
          background: rgba( 0,0,0,0.1);
          border-radius: 100px;
          padding: 2rem;
        }
        .email, .phone{
          display: block;
          font-size: 0.8rem;
          text-align: left;
        }

        .description {
          padding: 1rem 0 0 1rem;
          grid-row: 1/3;
          grid-column: -6/-2;
          background: rgba(0,0,0,0.4);
          border-radius: 100px;
          color: #fff5e6;
          font-weight: bold;
        }

        .im2 {
          display: block;
          grid-row: 7/-2;
          grid-column: 1/-17;
        }
        .im1 {
          grid-row: 8/-3;
          grid-column: 6/-10;
        }
        .im3 {
          display: block;
          grid-row: 5/-3;
          grid-column: 6/9;
        }
        .im4 {

          display: block;
          grid-row: 3/-4;
          grid-column: 9/12;
        }
        .im5 {
          display: block;
          grid-row: 1/3;
          grid-column: 4/6;
        }
        .ims6 {
          display: grid;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          padding: 0px;
          grid-row: 4/-2;
          grid-column: 10/-1;
        }
        #i6_1 , #i6_2, #i6_3 {
          display: block;
          width: 100%
        }
        #i6_1 {
          display: block;
          grid-column: 6/9;
          grid-row: 1/4;
        }
        #i6_2 {
          display: block;
          grid-column:1/4;
          grid-row: 6/9;
        }
        #i6_3 {
          display: block;
          grid-column: 4/9;
          grid-row: 5/10;
        }

        img {
          border-radius: 1000px;
        }
        ul {
          display: grid;
          grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
        }
        li {
          font-size: 0.7rem;
          text-align: left;
        }
        li:nth-child(1) {
          grid-row: 1/2;
          grid-column: 1/4;
        }
        li:nth-child(2) {
          grid-row: 2/3;
          grid-column: 2/5;
        }
        li:nth-child(3) {
          grid-row: 3/4;
          grid-column: 3/6;
        }
        #i2, #i3, #i4, #i5, #i6_1, #i6_2, #i6_3 {
          display: block;
        }

      }
    }
